.property-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.property-card {
  width: calc(25% - 20px);
  margin: 0 10px 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  p {
    margin-bottom: 0;
  }
}

.property-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.property-card h2 {
  margin-bottom: 0;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p.price {
  margin-top: 8px;
  margin-bottom: 8px !important;
  font-size: 32px;
}
